{% extends "base.html" %}
{% block title %}Oh no!{% endblock %}

{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://cdn-icons-png.flaticon.com/256/13006/13006557.png" alt="" width="128" height="128">
    <h1 class="display-5 fw-bold">Oh no, this page has been lost!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">We looked around but couldn't find what you are looking</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ url_for('user_dashboard') }}">
            <button type="button" class="btn btn-outline-primary btn-lg px-4 gap-3">Return Home</button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}