{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<header class="p-3 mb-3 border-bottom">
    <div class="d-flex align-items-center">
        <b class="w-100 me-3"> Hello, {{ username|title }}! </b>

        <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block text-decoration-none dropdown-toggle" id="dropdownUser2"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ userimage }}" alt="userImage" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a></li>
            </ul>
        </div>
    </div>
</header>

<button id="load-playlists">Load Playlists</button>

<div class="row flex-nowrap overflow-auto" id="playlist_cards"></div>

<a href="{{ url_for('go_to_searcher') }}">
    <button id="goto-searcher">Searcher</button>
</a>
{% endblock %}

{% block scripts %}
<!--Playlist-->
<script>
    document.getElementById('load-playlists').addEventListener('click', function () {
        // Make an AJAX request to the /playlists route
        fetch('/playlists')
            .then(response => response.json())
            .then(data => {
                // Process the data and update UI cards
                console.log(data); // Replace with your actual logic
                const playlistContainer = document.getElementById('playlist_cards');
                playlistContainer.innerHTML = ''; // Clear existing cards

                data.playlists.forEach(playlist => {
                    const card = `
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4 text-center">
                                <img src="${playlist["Image URL"]}" alt="Playlist image" class="img-fluid rounded-start" style="height: 180px;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <p class="card-text text-wrap"><b>${playlist["Playlist Name"]}</b></p>
                                        <a href="${playlist["Playlist URL"]}" target="_blank" class="btn btn-primary">Hear on Spotify</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    `;
                    playlistContainer.insertAdjacentHTML('beforeend', card);
                });
            })
            .catch(error => {
                console.error('Error fetching playlists:', error);
            });
    });
</script>


{% endblock %}