{% extends "base.html" %}
{% block title %}SpoWebApi{% endblock %}

{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://cdn-icons-png.flaticon.com/128/1834/1834342.png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">SpoWebApi</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Work in progress Web App for learning Python (with flask) and API usage (Spotify API).</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ url_for('login') }}">
            <button type="button" class="btn btn-outline-primary btn-lg px-4 gap-3">Login with Spotify</button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}