{% extends "base.html" %}
{% block title %}Playlist{% endblock %}

{% block content %}
<style>
    ul.no-bullets {
        list-style-type: none; /* Removes the bullets */
        padding: 0; /* Removes padding */
        margin: 0; /* Removes margins */
    }
</style>

<h3><a href="{{ url_for('user_dashboard') }}">Dashboard</a></h3>
    <ul class="no-bullets">
        {% for playlistnames, playlisturls, playlistimages in combinedlist %}
            <li> <a href='{{ playlisturls }}' target="_blank" >{{ playlistnames }}</a> </li>
            <li> <img src="{{ playlistimages }}" alt="Playlist image" style="width:150;height:150px;"></li>
        {% endfor %}
    </ul>
{% endblock %}