{% extends "base.html" %}
{% block title %}Playlist{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/css/style.css">
{% endblock %}

{% block content %}
<h3><a href="{{ url_for('user_dashboard') }}">Dashboard</a></h3>
    <ul class="no-bullets">
        {% for playlistnames, playlisturls, playlistimages in combinedlist %}
            <li> <a href='{{ playlisturls }}' target="_blank" >{{ playlistnames }}</a> </li>
            <li> <img src="{{ playlistimages }}" alt="Playlist image" style="width:150;height:150px;"></li>
        {% endfor %}
    </ul>
{% endblock %}