<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
</head>

<style>
    ul.no-bullets {
        list-style-type: none; /* Removes the bullets */
        padding: 0; /* Removes padding */
        margin: 0; /* Removes margins */
    }
</style>

<body>
    <ul class="no-bullets">
        {% for playlistnames, playlisturls, playlistimages in combinedlist %}
            <li> <a href='{{ playlisturls }}' target="_blank" >{{ playlistnames }}</a> </li>
            <li> <img src="{{ playlistimages }}" alt="Playlist image" style="width:150;height:150px;"></li>
        {% endfor %}
    </ul>
</body>
</html>